<div class="jumbotron center">
</br>
	<h1>Palhook is coming soon</h1>
	<h3>Discover what exactly you will need to succeed -Completely Free</h3>
	<br/>	
    <a class="btn btn-primary btn-lg" href="#" role="button">Get Notified »</a> 
    
</div>
<div class="container">    <!-- Example row of columns -->
    <div class="col-md-4 center">
      <h2>Develop Your Projects</h2>
      <p>Start lean, and develop your Idea. From sketches to business plans to invitations to your next super event. Find out everything you will need. </p>
      
    </div>
    <div class="col-md-4 center">
      <h2>It is Free</h2>
      <p>No cost, no hidden fees or charges, you publish your project, share it and get in contact with people who believe in your Ideas. </p>
      
   </div>
    <div class="col-md-4 center">
      <h2>PalHook</h2>
      <p>Get exposure for your project and rank amazing ideas.</p>
      <br/>
      <br/>
    </div>
  </div>
</div>
<footer class="panel-footer right">
	<div class="container">
    <p>© Palhook 2015</p>
	
</footer>