<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <p class="navbar-brand">Palhook</p>
      <p class="navbar-brand">-Find Partners or Participants for Your Projects and Ideas</p>
    </div>    
      <form class="navbar-form navbar-right">
        <button type="submit" class="btn btn-success">Sign in</button>
      </form>    
  </div>
</nav>